@import './mixins';
@import './variables';

*,
*::after,
*::before
{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
     // 1rem = 10px    10px/16px=62.5% width 1200-1800px
     font-size: 62.5%;

     @include response(tab-land){ //width<1200px
         font-size: 56.25%; //1rem=9px 9px/16px=56.25%
     }
     @include response(tab-port){ //width<900px
         font-size: 50%; //1rem=8px 8px/16px=50%
     }
     @include response(phone-large){
        font-size: 48%; //1rem=7px 7px/16px=44% <600px ???
    }
     @include response(phone){
         font-size: 44%; //1rem=7px 7px/16px=44% <425px
     }
     @include response(phone-mini){
        font-size: 40%; //1rem=6px 7px/16px=40% <325px
    }
     @include response(big-desktop){ //width> 1800px
        font-size: 75%; //1rem=12px 12/16=75%
    }

}

body{
    font-family: 'Mulish', 'sans serif';
    font-size: 10px;
    background-color: $bg-color;
}

.wrap-container{
    // max-width: 98.4rem;
    max-width: 123rem;
    margin: 5rem auto;
}