@import './mixins';
@import './variables';

.cards-container{
    margin: 4rem auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap:3.7rem;
    column-gap: 3.4rem;
}

.card{
    justify-content: space-between;
    max-width: 30rem;
    height: 35.4rem;
    background-color: $bg-color;
    padding: 4rem;
    @include card;


    &__title{
        font-size: 2.4rem;
        font-weight: bold;
        margin-bottom: 2.5rem;
    }
    &__description{
        font-size: 1.6rem;
        font-weight: 300;
        line-height: 2.8rem;
        color: $font-color-light;
    }

    &__content{
        height:20rem;
        display: flex;
        flex-direction: column;
        margin-top: 4rem;
    }

    &__header{
        height:15rem;
        flex-direction: column;
        display: flex;
        justify-content: center;
        &-img{
            width:9.2rem;
        }
    }
}

//CARD-REVIEW

.card-review{
    max-width: 120rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include centralSlide;

    @include response(phone-mini){
        flex-direction: column;
        position: relative;
        width: 100%;
    }
}
.person{
    display: flex;
    align-items: center;

    &_img{
        width:14rem;
        height: 14rem;
        border-radius: 50%;
        border: 4px solid #FFFFFF;

        @include response(phone-mini){
            width:10rem;
            height: 10rem;
            border: 2px solid #FFFFFF;
            }
            

    }

    @include response(phone-mini){
        margin-bottom: 3rem;
    }
}

.person-details{
    margin-left: 3rem;
    width:30rem;

    .name{
        font-size: 2.2rem;
        font-weight: bold;
    }
    .prof{
        font-size: 1.8rem;
    }

    @include response(phone-mini){
        width: 100%;
    }
}
.review{
    width: 45rem;
    font-size: 1.9rem;

    @include response(phone-mini){
        width: 100%;
        font-size: 1.9rem;
    }
}

//CARD-ARTICLE

.card-article{
    background-color: $bg-color;
    max-width: 35rem;
    align-items: flex-start;
    @include card;

    &__header{
        background-size: cover;
        border-top-left-radius: 2rem;
        border-top-right-radius: 2rem;
        height:24rem;
        width: 35rem;
    }

    &__content{
        padding: 4rem;
        height:20rem;
        display: flex;
        flex-direction: column;
        // justify-content:space-between;
    }

    &__title{
        font-size: 2.1rem;
        font-weight: bold;
        line-height: 3.2rem;
        margin-bottom: 2.5rem;
    }

    &__description{
        font-size: 1.6rem;
        height: 8rem;
        color: $font-color-light;
    }
    &__footer{
        justify-self: flex-start;
    }
}