@import './variables';
@import './mixins';

.footer{
    background-image: linear-gradient(120deg, rgba(130, 34, 114, .7) 20%, rgba(249, 153, 233, 1) 100%);
    padding: 7.5rem;

    &__container{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 8rem;
        color: #ffffff;
        max-width: 123rem;
        margin: 0rem auto;

        @include response(phone-large){
            width: 100%;
            grid-template-rows: repeat(4);
            gap: 4rem;
            grid-template-columns:1fr;
        }

        @include response(tab-port){
            width: 100%;
            gap: 4rem;
        }

        @include response(tab-land){
            width: 100%;
            gap: 4rem;
        }

    }

    @include response(tab-port){
      padding: 4rem;
    }
}

.brand-block{
    width: 49rem;

    @include response(phone-large){
        width: 100%;
    }

    @include response(tab-port){
        width: 40rem;
      }
}

.brand-text{
    font-size: 1.8rem;
    line-height: 2.8rem;
    margin-top: 2.2rem;

    p{
        margin-bottom: 4rem;
    }
}

.grid__links{
    font-size: 1.8rem;
    line-height: 3.8rem;
    list-style: none;

    &-item a{
        text-decoration: none;
        color: #ffffff;
        cursor: pointer;
    }

    .head{
        font-weight: bold;
        font-size: 2rem;
        line-height: 6rem;
    }
}