@import "./variables";
@import "./mixins";

.section{
    margin: 10rem auto 25rem auto;
    display: flex;
    justify-content: space-between;
    justify-items: center;

    &__img{
        max-width: 69.3rem;

        @include response(tab-land){
            max-width: 58rem;
         }

        @include response(tab-port){
            max-width: 45rem;
         }

         @include response(phone-large){
            margin:7rem 0;
        }

        @include response(phone){
            margin:5rem 0;
        }
    }

    &-container{
        display: flex;
        flex-direction: column;
        align-items: center;

        @include response(phone){
            // margin-bottom: 7rem;
        }
    }

    @include response(tab-land){
        margin: 3rem auto 3rem auto;
        flex-direction: row;
        padding: 4rem;
    }

    @include response(tab-port){
        // margin: 3rem auto 3rem auto;
        // flex-direction: column;
        // padding: 4rem;
    }

    @include response(phone-large){
        margin: 3rem auto 3rem auto;
        flex-direction: column;
        padding: 4rem;
    }

    @include response(phone){
        margin: 3rem auto 3rem auto;
        flex-direction: column;
        padding: 4rem;
    }


}

.blue{
    background-image: linear-gradient(120deg, rgba(130, 34, 114, .7) 20%, rgba(249, 153, 233, 1) 100%);
    color: #ffffff;
    border-radius: 2.4rem;
    flex-direction: column;
    padding: 7.5rem;

    @include response(tab-land){
        padding: 4rem;
        margin: 15rem 5rem;
    }

    @include response(tab-port){
        padding: 4rem;
        margin-bottom: 15rem;
    }

    @include response(phone-large){
        padding: 4rem;
        border-radius: 0rem;
        height:46rem;
        justify-content: unset;
        margin: 15rem 0;
    }

}

.one-column{
    flex-direction: column;

    @include response(phone){
        margin-top: 10rem;
    }
}
.text-box{
    display: flex;
    flex-direction: column;
    max-width: 44.5rem;
    margin-top: 10rem;
    align-items: flex-start;

    @include response(tab-port){
        margin-bottom: 5rem;
        margin-top: 0rem;
        align-items: center;
        align-self: center;
    }


    @include response(phone){
        margin-bottom: 5rem;
        margin-top: 0rem;
        align-items: center;
    }
}
.main-title{
    font-size: 4.8rem;
    font-weight: bold;
    margin-bottom: 4rem;
    line-height: 5.6rem;
}
.description{
    font-size: 2.1rem;
    font-weight: 300;
    line-height: 3.2rem;
    margin-bottom: 5rem;
    color: $font-color-light;
}

.text-container{
    max-width: 80%;
    margin: 0 auto;

    @include response(phone){
        max-width: 100%;
    }

}


