$font-color-light:#7D7987;
$font-color-dark:#000000;

$menu-item-active:#1F1534;

$btn-active-light:rgb(247, 94, 221);
$btn-active-medium:#ac499b;
$btn-active-dark:rgb(150, 41, 132);
$btn-active-hover:rgb(108, 99, 255);

$bg-color:#ffffff;
$bg-color-grey:#c7b6f3;
